.navContainer {
  display: flex;
  list-style: none;
  justify-content: center;
  column-gap: 15px;
  background-color: #cdd7e0;
  padding: 10px;
}

.navElement {
  color: rgb(61, 34, 104);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
